

html, body {
  margin: 0;
  padding: 0;
}
#moving-box,
#output {
  position: absolute;
}
#moving-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid black;
  background-color: rgba(255, 0, 0, 0.7);
  z-index: 10;
}
#output {
  height: 300px;
  overflow-y: auto;
  background-color: black;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  font-family: monospace;
  font-size: 35px;
}

#score {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #77AAFF;
  color: #FFF;
  border-radius: 0 0 0 10px;
  z-index: 20;
  font-size: 30px;
  font-family: monospace;
}

.star {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #125698;
  position: absolute;
  z-index: 9;
}

.star div {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #125698;
  position: absolute;
  top: 5px;
  left: -10px;
}

.hidden {
  display: none;
}